.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px; /* Adjusted top padding to 30px */
  position: relative; /* Ensure the header is a positioned container for absolute positioning */
}


.logo {
  flex-shrink: 0; /* Prevent the logo from shrinking */
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0); /* Adjust text color as needed */
}

.logo-image {
  width: 200px; /* Adjust this value as needed */
  height: auto; /* Keeps the aspect ratio intact */
}

.navigation {
  flex-grow: 1; /* Allow the navigation to take up available space */
  display: flex;
  justify-content: center; /* Center the navigation links */
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Adjust the gap between links as needed */
  padding: 0;
  margin: 0;
}

.navigation li {
  padding: 5px; /* Adjust padding as needed */
}

.navigation a {
  text-decoration: none;
  color: black; /* Change the color as needed */
}

.navigation a:hover {
  text-shadow: 0 0 10px white, 0 0 20px white; /* Glowing effect */
  color: #00a6ff; /* Optional: Change text color on hover */
}

.signin-button {
  flex-shrink: 0; /* Prevent the button from shrinking */
}

.signin-button button {
  background-color: yellow; /* Sets the background color */
  color: black; /* Sets the text color */
  border: none; /* Removes the default border */
  padding: 10px 20px; /* Adds some padding around the text */
  cursor: pointer; /* Changes cursor to pointer on hover */
  border-radius: 5px; /* Optional: Rounds the corners of the button */
  transition: box-shadow 0.3s ease; /* Smooth transition for the glow effect */
  /* Add other styling as needed */
}

.signin-button button:hover {
  box-shadow: 0 0 15px yellow; /* Glowing effect on hover */
}

.background-image {
  position: absolute; /* Position the background image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('/public/images/TangerBG.jpg'); Specify the background image URL */
  background-size: cover; /* Cover the entire header with the background image */
  z-index: -1; /* Move the background behind other elements */
}
