body {
    font-family: 'Mulish', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }

  .hotels-container {
    padding: 20px;
    margin-top: 50px;
  }

  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .hotels {
    font-size: 32px;
    color: #333;
    margin: 0;
  }

  .activities {
    font-size: 16px;
    color: #666;
  }

  .parenthotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

  .parenthotel .child {
    display: flex;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s;
    width: 100%;
  }

  .parenthotel .child:hover {
    transform: translateY(-10px);
  }

  .img {
    width: 200px;
    height: auto;
    object-fit: cover;
  }

  .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name1 {
    font-family: 'Volkhov', serif;
    font-size: 28px;
    color: #000000;
    margin: 0 0 9px;
  }

  .desc1 {
    font-size: 14px;
    color: #666;
    margin: 0 0 20px;
  }

  .rating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .prix {
    font-family: 'Volkhov', serif;
    font-size: 20px;
    color: #7BBCB0;
    margin: 0 0 10px;
  }

  .bookbtn {
    display: flex;
    align-items: center;
  }

  .bookbtn button {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background: #70c1b2;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .bookbtn button:hover {
    background: #66a69c;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination button {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #ddd;
    cursor: pointer;
    transition: background 0.3s;
  }

  .pagination button.active {
    background: #7BBCB0;
    color: #fff;
  }

  .pagination button:hover:not(.active) {
    background: #ccc;
}
